@import url('https://fonts.googleapis.com/css2?family=Tulpen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Tulpen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek+Odia:wght@100..800&family=IBM+Plex+Sans+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek+Odia:wght@100..800&family=Cinzel+Decorative:wght@400;700;900&family=IBM+Plex+Sans+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek+Odia:wght@100..800&family=Cinzel+Decorative:wght@400;700;900&family=Cormorant+Unicase:wght@300;400;500;600;700&family=IBM+Plex+Sans+JP&display=swap');

*{
    margin: 0;
    padding: 0;
}

/* garante que a página ocupe 100% da altura */
html, body {
  height: 100%;
 
}

/* imagem de fundo fixa, cobrindo toda a tela */
body {
  background: url("img/img_fundo_fim_jogo.jpg") no-repeat center center fixed;
  background-size: cover;
  /* continua usando flex ou grid para seu layout se quiser */
  display: flex;
  flex-direction: column;
}

main{
    display: flex;
    height: 100vh;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.containerP{
    width: 30%;
    height: 90%;
    background-color: rgba(251, 249, 252, 0.199);
    display: flex;
    border-radius: 20px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-color: black;
}

.cabecalho{
    display: flex;
    text-decoration: none;
    color: white;
    background-color: rgba(203, 206, 209, 0.336);
    justify-content: space-between;
    align-items: center;
    padding: 1% 2%;
    box-sizing: border-box;
    background-size: cover; /* Faz a imagem cobrir toda a tela */
    background-position: center; /* Centraliza a imagem */
    background-attachment: fixed;
    background-repeat: no-repeat; /* Evita repetição da imagem */
    margin: 0;
}

.rodape{
    display: flex;
    background-color: rgba(203, 206, 209, 0.336);
    text-decoration: none;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 1% 2%;
    box-sizing: border-box;
    background-size: cover; /* Faz a imagem cobrir toda a tela */
    background-position: center; /* Centraliza a imagem */
    background-attachment: fixed;
    background-repeat: no-repeat; /* Evita repetição da imagem */
    margin: 0;
}

.botao_jogar{
    display: flex;
    align-items: center;
    justify-content: center;
    width:80%
}

.botao{
    display: flex;
    height: 150%;
    width: 30%;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: rgb(166, 7, 240);
    font-family: "Anek Odia", "Cinzel Decorative";
    border-radius: 8%;
    padding: 0% 5%;
}

.intro{
    display: flex;
    justify-content: center;
}

.mago{
    display: flex;
    width: 60%;
    justify-content: center;
    align-items: center;
}

.tiutlo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.balao_dialogo{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 100%; 
}